.form {
    height: 713px;
    background: #fff;
    padding: 24px;
    max-width: 628px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formHeader {
    .formHeaderTitle {
        text-align: start;
        text-transform: uppercase;
        font-size: $font-size-md;
        color: $color-text-dark;
    }

    .formHeaderImg {
        width: 100%;
        margin: 20px 0 10px 0;
    }
}

.formInputs {
    .formInputRoot {
        text-align: left;
    }

    .formInputRoot:first-child {
        margin-bottom: 12px;
    }

    .formInput {
        width: 100%;
        border-radius: 8px;
        border: 1px solid #5d5d5d;
        outline: none;
        color: #5d5d5d;
        text-align: start;
    }

    .formInput::placeholder {
        font-family: $font-pt-sans;
    }

    .formInputLabel {
        color: #000;
        font-size: 12px;
    }

    .formInputError {
        font-size: 12px;
        color: red;
        border-color: red;
    }
}

.formMessengers {
    display: flex;
    flex-direction: column;

    .formMessengersTitle {
        font-size: 20px;
        font-weight: 500;
        color: #000;
        margin-bottom: 10px;
        text-align: start;
    }

    .formMessengersItems {
        width: 100%;
        display: flex;
        flex-direction: row;

        .formMessengersItem {
            flex: 1;
            margin-right: 12px;
            border: 1px solid #5d5d5d;
            color: #5d5d5d;
            border-radius: 8px;
            height: 43px;
            align-content: center;
            background: transparent;
            cursor: pointer;

            &.selected {
                border-color: #000;
                background: #000;
                color: #fff;
            }
        }

        .formMessengersItem:last-child {
            margin-right: 0;
        }
    }
}

.formTimes {
    display: flex;
    flex-direction: column;

    .formTimesTitle {
        font-size: 20px;
        font-weight: 500;
        color: #000;
        margin-bottom: 10px;
        text-align: start;
    }

    .formTimesItems {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;

        .formTimesItem {
            border: 1px solid #5d5d5d;
            color: #5d5d5d;
            border-radius: 8px;
            height: 43px;
            align-content: center;
            background: transparent;
            cursor: pointer;

            &.selected {
                border-color: #000;
                background: #000;
                color: #fff;
            }
        }
    }
}

.formFooter {
    .formButtonBlock {
        display: flex;
        align-items: center;
        height: 55px;

        .formButton {
            width: 172px;
            height: 39px;
            margin-right: 24px;
            text-transform: uppercase;
            background: #000;
            color: #fff;
            border: 1px solid #000;
            cursor: pointer;
        }

        .formButtonDesk {
            color: #5d5d5d;
            font-size: 12px;
            max-width: 331px;
            line-height: 150%;
            text-align: start;
        }
    }

    .formFooterImg {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: $breakpoint-laptop) {
    .formTimes {
        display: flex;
        flex-direction: column;

        .formTimesTitle {
            font-size: 20px;
            font-weight: 500;
            color: #000;
            margin-bottom: 10px;
            text-align: start;
        }

        .formTimesItems {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 12px;

            > .formTimesItem:first-child {
                grid-column: 1 / -1;
            }
        }
    }

    .formFooter {
        .formButtonBlock {
            .formButton {
                width: 142px;
            }

            .formButtonDesk {
                max-width: 262px;
            }
        }
    }
}

@media (max-width: $breakpoint-tablet-l) {
    .formHeader {
        .formHeaderTitle {
            font-size: 30px;
            line-height: 30px;
        }

        .formHeaderImg {
            margin: 10px 0 10px 0;
        }
    }

    .form {
        height: auto;
        width: 100%;
        max-width: none;
    }

    .formInputs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .formInputRoot {
            text-align: left;
            width: 49%;
        }
    }

    .formTimes {
        .formTimesTitle {
            font-size: 18px;
        }

        .formTimesItems {
            grid-template-columns: repeat(4, 1fr);

            > .formTimesItem:first-child {
                grid-column: span 2;
            }
        }
    }

    .formMessengers {
        margin-bottom: 20px;

        .formMessengersTitle {
            font-size: 18px;
        }
    }

    .formFooter {
        .formButtonBlock {
            .formButton {
                width: 240px;
            }

            .formButtonDesk {
                max-width: 400px;
            }
        }

        .formFooterImg {
            margin: 20px 0 0 0;
        }
    }
}

@media (max-width: $breakpoint-tablet-s) {
    .formTimes {
        .formTimesItems {
            grid-template-columns: repeat(2, 1fr);

            > .formTimesItem:first-child {
                grid-column: span 2;
            }
        }
    }

    .formFooter {
        .formButtonBlock {
            .formButton {
                width: 146px;
            }

            .formButtonDesk {
                max-width: 322px;
            }
        }

        .formFooterImg {
            margin: 20px 0 10px 0;
        }
    }
}

@media (max-width: $breakpoint-phone) {
    .formInputs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;

        .formInputRoot {
            text-align: left;
            width: 100%;
        }
    }

    .formHeader {
        .formHeaderTitle {
            font-size: 24px;
            color: 24px;
        }

        .formHeaderImg {
            margin: 10px 0;
        }
    }

    .formFooter {
        .formButtonBlock {
            height: auto;
            flex-direction: column;

            .formButton {
                width: 100%;
                height: 38px;
                margin-bottom: 16px;
                margin-right: 0;
                font-size: 14px;
            }

            .formButtonDesk {
                max-width: 100%;
            }
        }
    }

    .formTimesItem {
        font-size: 14px;
    }

    .formMessengers {
        .formMessengersTitle {
            font-size: 18px;
        }

        .formMessengersItems {
            flex-wrap: wrap;
            gap: 2%;
            row-gap: 8px;

            .formMessengersItem {
                flex: none;
                width: 49%;
                margin-right: 0;
                height: 40px;
            }

            .formMessengersItem:last-child {
                margin-right: 0;
            }
        }
    }
}
