.service {
    width: 624px;
    height: 267px;
    padding: 24px;
    letter-spacing: 0;

    background: $color-white-08;
    @include backdrop-blur(50px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: background 300ms linear;

    .serviceTitle {
        text-transform: uppercase;
        font-size: $font-size-md;
        line-height: $font-size-md;

        transition: color 300ms linear;

        &.hovering {
            color: $color-black;
        }
    }

    &.hovering {
        background: $color-white;
    }

    .serviceLine {
        width: 100%;
        margin: 10px 0;

        path {
            fill: #fff;
            transition: fill 300ms linear;
        }

        &.hovering path {
            fill: #000;
        }
    }

    .serviceSubtitle {
        color: $color-white-muted-light;
        font-weight: bold;
        line-height: $font-size-base;
        margin-bottom: 10px;
    }

    .serviceDescription {
        width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        font-size: 16px;
        line-height: 1;

        transition: color 300ms linear;

        &.hovering {
            color: $color-black;
        }
    }

    .serviceButtons {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .serviceButton {
            align-content: center;
            text-align: center;
            width: 49%;
            height: 39px;
            text-transform: uppercase;
            font-size: $font-size-base;
            cursor: pointer;
            font-weight: bold;
            transition: background 300ms linear;

            &.first {
                color: $color-black-05 !important;
                background: transparent;
                border: 1px solid $color-black-05;
            }

            &.second {
                color: $color-white;
                border: none;
                background: $color-black-05;
            }

            &.hovering {
                background: $color-black;
            }
        }
    }
}

@media (max-width: $breakpoint-laptop) {
    .service {
        width: 480px;
        height: 315px;
    }
}

@media (max-width: $breakpoint-tablet-l) {
    .service {
        width: 360px;
        height: 293px;

        .serviceTitle {
            font-size: 24px;
            line-height: 24px;
        }

        .serviceSubtitle {
            font-size: $font-size-sm;
            line-height: $font-size-sm;
        }

        .serviceDescription {
            font-size: $font-size-sm;
        }

        .serviceButtons {
            .serviceButton {
                font-size: $font-size-sm;
            }
        }
    }
}

@media (max-width: $breakpoint-tablet-s) {
    .service {
        width: 540px;
        height: 251px;

        .serviceButtons {
            .serviceButton {
                width: 174px;

                &.first {
                    width: 39%;
                }

                &.second {
                    width: 59%;
                }
            }
        }

        .serviceLine {
            margin: 5px 0;
        }
    }
}

@media (max-width: $breakpoint-phone) {
    .service {
        width: 100%;
        height: auto;

        .serviceButtons {
            margin-top: 10px !important;

            .serviceButton {
                font-size: 12px;
                height: 36px;
            }
        }
    }

    .serviceSubtitle {
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 10px;
    }

    .serviceDescription {
        font-size: 12px;
    }
}
