@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gradient-border-primary($radius, $padding: clamp(1px, 0.138vw, 2px)) {
    border: clamp(1px, 0.138vw, 2px) solid #45ffa6;
    border-radius: $radius;

    @supports (-webkit-mask: none) or (mask: none) {
        border: none;
        position: relative;
        z-index: 0;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            padding: $padding;
            border-radius: inherit;
            background: linear-gradient(265.05deg, #96f8b3 23.99%, #12ffc4 95.95%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
            z-index: -1;
        }
    }
}

@mixin gradient-text-primary {
    background: linear-gradient(265.05deg, #96f8b3 23.99%, #12ffc4 95.95%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

@mixin responsive-font($min, $max) {
    font-size: clamp(#{$min}px, 2vw, #{$max}px);
}

@mixin backdrop-blur($radius: 50px) {
    backdrop-filter: blur($radius);
    -webkit-backdrop-filter: blur($radius);
}
