@use './functions' as *;

// Accent colors
$color-primary-dark: #1f1f1f;

$color-text: #fff;
$color-text-dark: #000;
$color-text-muted: #8e8c8c;
$color-text-muted-light: #878787;

// Fonts
$font-oswald: 'Oswald', sans-serif;
$font-pt-sans: 'PT Sans', sans-serif;

$font-size-xs: 10px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 32px;
$font-size-lg: 60px;
$font-size-xl: 64px;

$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

// Breakpoints
$breakpoint-laptop: 1279px;
$breakpoint-tablet-l: 1023px;
$breakpoint-tablet-s: 767px;
$breakpoint-phone: 575px;
$breakpoint-phone-s: 320px;

$bg-blur: 8%;
