.appContent {
    width: 100%;
    max-width: 1272px;
    margin-inline: auto;
    min-height: 100vh;
}

@media (width <= 1279px) {
    .appContent {
        max-width: 984px;
    }
}

@media (width <= 1023px) {
    .appContent {
        max-width: 744px;
    }
}

@media (width <= 767px) {
    .appContent {
        max-width: 540px;
    }
}

@media (width <= 575px) {
    .appContent {
        max-width: calc(100% - 20px);
    }
}
