.services {
    position: relative;
    height: 1594px;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding: 160px 0;

    background-image: url(../../../assets/servicesBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin-bottom: 160px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services::before {
    content: '';
    height: 1594px;
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: $color-black-05;
}

.services > * {
    position: relative;
    z-index: 2;
}

.services {
    .servicesTitle {
        width: 1272px;
        text-transform: uppercase;
        font-size: $font-size-xl;
        margin-bottom: 48px;
    }
}

.servicesBlocks {
    width: 1272px;
    height: 582px;
    margin-bottom: 48px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.servicesAdditional {
    width: 1272px;
    height: 544px;
    padding: 24px;

    background: $color-white-08;
    @include backdrop-blur(50px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .servicesAdditionalTitle {
        font-size: $font-size-md;
        text-transform: uppercase;
    }

    .servicesAdditionalRaw {
        display: flex;
        flex-direction: column;

        .servicesAdditionalRawTitle {
            text-transform: uppercase;
            font-weight: bold;
        }

        .servicesAdditionalRawHeader {
            display: flex;
            justify-content: space-between;

            .servicesAdditionalRawTitle {
                text-transform: uppercase;
            }
        }

        .servicesAdditionalRawImg {
            width: 100%;
            margin: 5px 0;
        }

        .servicesAdditionalRawSubtitle {
            color: $color-white-muted;
        }
    }
}

@media (max-width: $breakpoint-laptop) {
    .servicesBlocks {
        width: 984px;
        height: 691px;
    }

    .services {
        height: 1700px;

        .servicesTitle {
            font-size: $font-size-lg;
            width: 984px;
        }
    }

    .services::before {
        height: 1700px;
    }

    .servicesAdditional {
        width: 984px;
        height: 544px;
    }
}

@media (max-width: $breakpoint-tablet-l) {
    .servicesBlocks {
        width: 744px;
        height: auto;
        row-gap: 48px;
    }

    .services {
        height: 1576px;
        padding: 140px 0;

        .servicesTitle {
            font-size: 48px;
            width: 744px;
        }
    }

    .services::before {
        height: 1576px;
    }

    .servicesAdditional {
        width: 744px;
        height: 527px;

        .servicesAdditionalTitle {
            font-size: 24px;
        }

        .servicesAdditionalRaw {
            .servicesAdditionalRawTitle {
                font-size: 14px;
            }

            .servicesAdditionalRawSubtitle {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: $breakpoint-tablet-s) {
    .servicesBlocks {
        width: 540px;
        height: auto;
    }

    .services {
        height: 2011px;

        .servicesTitle {
            font-size: 40px;
            width: 540px;
        }
    }

    .services::before {
        height: auto;
    }

    .servicesBlocks {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 24px;
    }

    .servicesAdditional {
        width: 540px;
        height: 527px;
    }
}

@media (max-width: $breakpoint-phone) {
    .servicesBlocks {
        width: 100%;
        height: auto;
    }

    .services {
        padding: 120px 10px;

        .servicesTitle {
            font-size: $font-size-md;
            width: 100%;
        }
    }

    .servicesBlocks {
        gap: 16px;
        margin-bottom: 32px;
    }

    .servicesAdditional {
        width: 100%;
        height: 460px;
        padding: 16px;

        .servicesAdditionalTitle {
            font-size: 20px;
        }

        .servicesAdditionalRaw {
            .servicesAdditionalRawTitle {
                font-size: 12px;
            }

            .servicesAdditionalRawHeader {
                display: flex;
                justify-content: space-between;
            }

            .servicesAdditionalRawSubtitle {
                font-size: 12px;
            }
        }
    }
}
