@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=PT+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-heading: 'Oswald', sans-serif;
    --font-body: 'PT Sans', sans-serif;

    --lh-heading: 115%;
    --lh-body: 150%;
    --ls-default: 0;
}

html {
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    font-family: var(--font-body);
    line-height: var(--lh-body);
    letter-spacing: var(--ls-default);
    color: #fff;
    font-size: 16px;
    background-color: #1f1f1f;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
    margin: 0;
    text-decoration: none !important;
    color: inherit !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: var(--font-heading);
    line-height: 1;
    letter-spacing: var(--ls-default);
}

p {
    margin: 0;
    line-height: 1;
}
