.formBlock {
    position: relative;
    height: 1033px;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin-bottom: 160px;
    padding: 160px 84px;

    display: flex;
    justify-content: center;
}

.formBlockContent {
    display: flex;
    justify-content: space-between;
    width: 1272px;
}

.formBlock::before {
    content: '';
    height: 1033px;
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: $color-black-05;
}

.formBlock > * {
    position: relative;
    z-index: 2;
}

.formBlockTitles {
    width: 50%;
    max-width: 590px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .formBlockTitle {
        width: 590px;
        font-size: $font-size-xl;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 48px;
        text-align: start;
        font-weight: normal;
    }

    .formBlockSubtitle {
        width: 590px;
        text-align: start;
    }
}

.formBlockForm {
    width: 50%;
    max-width: 628px;
    text-align: center;
}

@media (max-width: $breakpoint-laptop) {
    .formBlockTitles {
        text-align: center;

        .formBlockSubtitle {
            width: 396px;
        }

        .formBlockTitle {
            width: 396px;
        }
    }

    .formBlock {
        padding: 160px 147px;
    }
}

@media (max-width: $breakpoint-tablet-l) {
    .formBlock {
        justify-content: center;
        height: 928px;
        padding: 140px 139px;
    }

    .formBlockContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 744px;
    }

    .formBlock::before {
        height: 928px;
    }

    .formBlockTitles {
        width: 100%;
        text-align: center;
        margin-bottom: 48px;

        .formBlockSubtitle {
            width: 100%;
        }

        .formBlockTitle {
            font-size: 40px;
            width: 100%;
        }
    }

    .formBlockForm {
        width: 100%;
        padding: 0;
    }
}

@media (max-width: $breakpoint-tablet-s) {
    .formBlock {
        height: 1063px;
        padding: 140px 113px;
    }

    .formBlockContent {
        width: 540px;
    }

    .formBlock::before {
        height: 1063px;
    }

    .formBlockTitles {
        margin-bottom: 24px;

        .formBlockTitle {
            margin-bottom: 24px;
        }
    }
}

@media (max-width: $breakpoint-phone) {
    .formBlock {
        height: auto;
        padding: 120px 10px;
    }

    .formBlockContent {
        width: 100%;
    }

    .formBlock::before {
        height: auto;
    }

    .formBlockTitles {
        width: 100%;

        .formBlockTitle {
            font-size: 32px;
        }
    }
}
